[submodule "personal-works/ForexConverter"]
	path = personal-works/ForexConverter
	url = git@github.com:andjsales/ForexConverter.git
[submodule "personal-works/TLDRthis"]
	path = personal-works/TLDRthis
	url = git@github.com:andjsales/TLDRthis.git
